.idea
/SQL_User/node_modules/
/SQL_User/.env
/SQL_DeliveryAddress/node_modules/
/SQL_DeliveryAddress/.env
/SQL_Paypal/node_modules/
/SQL_Paypal/.env
/SQL_BillingAddress/.env
/SQL_BillingAddress/node_modules/
/SQL_Countries/.env
/SQL_Countries/node_modules/
/SQL_UserTypes/.env
/SQL_UserTypes/node_modules/
/MongoBDRestaurant/node_modules/
/MongoBDRestaurant/.env
/MongoDB_Product/node_modules
/MongoDB_Product/.env
/MongoDB_Menu/node_modules
/MongoDB_Menu/.env
/MongoDB_Order/node_modules
/MongoDB_Order/.env
/MongoDB_Delivery/node_modules
/MongoDB_Delivery/.env
/MongoDB_Logs/node_modules
/MongoDB_Logs/.env
/Payment/node_modules
/Payment/.env
/Statistics/node_modules
/Statistics/.env
/MongoDB_Notifications/node_modules/
/MongoDB_Notifications/.env